DATABASE_URL="postgresql://use_api_user:CHANGE_ME@127.0.0.1:5432/use_api_dev"
SHADOW_DATABASE_URL="postgresql://use_api_user:CHANGE_ME@127.0.0.1:5432/use_api_shadow"
TEST_DATABASE_URL="postgresql://use_api_user:CHANGE_ME@127.0.0.1:5432/use_api_test"
FRONTEND_URL="http://localhost:5173"
PORT="3333"
